.header {
  display: flex;
  margin: 92px 24px 96px 24px;

}

.header__menu {
  display: flex;
  align-items: center;
}

.header__links-list {
  display: flex;
  gap: 30px;
  margin-left: 26px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  letter-spacing: 0.01em;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link{
  text-decoration: underline; 
  text-decoration-color: rgb(0, 0, 0); 
  text-underline-offset: 4px;
  text-decoration-thickness: 1px; 
}



.header__link_active{
  text-decoration: none;
}

.header__logo {
  margin-left: 36px;
  margin-right: 184px;
  display: flex;
  width: 148px;
  height: 105px;
  background-repeat: no-repeat;
  background-image: url(../images/logo-black.svg);
  align-items: center;
  justify-content: center;
}

.header__logo-image {}

.header__address {
  width: 240px;
  display: flex;
  flex-direction: column;
  margin-right: 26px;
  align-items: center;
  justify-content: flex-end;
}

a{
  text-decoration: underline; 
  text-decoration-color: rgb(0, 0, 0); 
  text-underline-offset: 4px;
  text-decoration-thickness: 1px; 
}

.adress {
  font-style: normal;
}

.adress-non-line{
  text-decoration: none;
}

.adress-item {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
}

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
  width: 1100px;
  height: 757px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background: rgba(0, 0, 0, 1);
  /* z-index: 4; */
}

.cover__title {
  position: relative;
  z-index: 2;
  color: white;
  padding: 165px 50px 0px 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: 'Raleway', sans-serif;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 0.3em;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0em;
}

.aligned-text {
  display: flex;
  justify-content: start;
  line-height: 115px;
}

.aligned-text_center {
  display: flex;
  justify-content: center;
  line-height: 100px;
}

.aligned-text_right {
  display: flex;
  justify-content: end;
  line-height: 100px;
}

.cover__description {
  position: relative;
  z-index: 2;
  margin: 135px 50px 51px 78px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: 400;
}

.cover__description-text {
  /* letter-spacing: 0.05em; */
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  padding: 12px 32px;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: transparent;
  cursor: pointer;
}

.lots {
  margin: 179px 24px 0px 24px;
}

.lots__heading {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  text-transform: uppercase;
  margin-left: 40px;
  margin-bottom: 27px;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  flex-wrap:wrap;
}

.lots__card-list-item {
  width: 334px;
  min-height: 563px;
  list-style: none;
}

.card-link {
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  /* position: relative;  */
  z-index: 2; 
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  margin: 0px 40px;
  padding-top: 51px;
  text-decoration: underline; 
  text-decoration-color: rgb(255, 255, 255); 
  text-underline-offset: 4px;
  text-decoration-thickness: 1px; 
}

.card__text {
  /* position: relative;  */
  z-index: 2; 
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin: 0px 40px;
  padding-bottom: 48px;
  color: rgba(255, 255, 255, 1);
}

.lots__look-more-link {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.48px;
  padding-top: 30px;
  margin-left: 40px;
}

.about {
  margin: 0px 24px;
  padding-top: 205px;
  display: grid;
  grid-template-columns: 334px 693px;
  grid-column-gap: 25px;

}

.about__column {}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  margin-left: 47px;
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  margin-top: 133px;
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  text-transform: uppercase;
  padding-bottom: 100px;

}

.about__text {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.01em;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.footer {
  margin: 180px 50px 88px 50px;
  display: flex;
  justify-content: space-between;

}

.footer__menu {
  display: flex;
  flex-direction: column;
  align-items: center;


}

.footer__menu-list {
  list-style: none;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  text-align: center;


}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style-type: none;

}

.footer__social-list-item {}

.footer__social-link {}

.footer__social-icon {
  width: 48px;
  height: 48px;
}